.preview{
    position: absolute;

    text-align: center;
    width: 10%;
    border-radius: 10px;
    z-index: 999;
    font-size: 105%;
    -webkit-user-select: none;
    padding-top: 1%;
    padding-bottom: 1%;

}



#emphasis{
    font-size: 160%;

    font-weight: bold;

    color: cornflowerblue;

    
}

#emphasisGradient{
    font-size: 125%;
    background-image: linear-gradient(90deg, #ffa3eb, #9fd1fc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-decoration: underline;

}

.preview:hover{
    border: 3px solid yellow;

    cursor: pointer;
}

.line{
 
    z-index: 998;
 
    text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    display: flex;
}

#iconholder{
    margin-left: 2%;
    margin-top: 2%;
    position: absolute;
    
}

#iconholder:hover{
    cursor: pointer;
    color: blue;
}

#settingsDiv{
    margin-left: -0.5%;
    margin-top: -1%;

    background-color: whitesmoke;
    z-index: 1000;
    width: 25%;

    padding-left: 2%;
    padding-right: 2%;
    overflow-y: scroll;
}
#informationDiv{
    margin-left: -0.5%;
    margin-top: -1%;
    background-color: whitesmoke;
    z-index: 1001;
    width: 5%;
    top: 5.5%;
    padding-bottom: 0;

  
    border: 2px solid black;
    position: absolute;

    display: none;
}


#settingsText, #informationText{
    font-size: 175%;
    margin-top: 0;
    margin-bottom: 9%;
    padding-top: 9%;
    text-decoration: underline;
    font-weight: bold;
    word-wrap:initial;
    padding-right: 2%;
}

#informationText{
    padding-top: 3%;
}

.subSettingsText{
    font-size: 165%;
    font-weight: bold;
}

a{
    word-wrap: break-word;
}

#rainbowBar{
    background: linear-gradient(to right,#e66465, #9198e5);
    margin-top: 1%;
    height: 10px;
}

.flexInputText{
    display: flex;
   
}

.inputTextSubmit{
    margin-left: 3%;
    background-color: lightblue;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    transition: 0.65s;
    
}

.inputTextSubmit:hover{
    cursor: pointer;
    border-radius: 30px;
    transition: 0.65s;
}

.inputText{
    font-size: 125%;
    padding-bottom: 3%;
    margin-bottom: 0;
}

.sliderText{
    margin-bottom: 2%;
}

#applyBtn{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: lightblue;
    margin-top: 7%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 125%;
    transition: 0.5s;
    -webkit-user-select:none;
}

#applyBtn:hover{
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s;
}

#message{
    font-size: 110%;
    line-height: 1.3;
    padding-bottom: 4%;
}

#x{
    font-size: 140%;
    padding-top: 3%;
    -webkit-user-select: none;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: right;
}

#x:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

#showSettings{
    font-size: 125%;
    text-decoration: underline;
    -webkit-user-select: none;
}

#showSettings:hover{
    color: lightblue;
    cursor: pointer;
}

.keyInformation{
    font-size: 120%;
    margin-left: 5%;
}

#tree{
    top: 10%;
}

#title{
    position: absolute;
    font-size: 500%;
    left: 50%;
    top: 60%;
    width: 100%;
    background-image: linear-gradient(90deg, #ffa3eb, #9198e5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

#type{
    padding-top: 2%;
    font-size: 150%;
}

#bold{
    color: #ffa3eb;
}

#change{
    font-size: 125%;
    color: black;
    text-align: center;
    background-color: #9fd1fc;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    -webkit-user-select: none;
    transition: 0.5s;
    margin-bottom: 10%;
}

#change:hover{
    border-radius: 25px;
    cursor: pointer;
}

#floatingImage{
    width: 100%;
}

#warningText{
    font-size: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1%;
    padding-right: 1%;
    
}

#readMore{
    padding-bottom: 2%;
    margin-bottom: 0;
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    margin-top: 2%;
    
}

.textBox{
    width: 135%;
}
/*small change*/

#moreInformationDiv{
    width: 48%;
    position: absolute;

    top: 6%;
    z-index: 1002;
    overflow-y: scroll;
    height: 500px;
    border: 3px solid black;
    background-color: white;
    display: none;
}

#topHeader{
    display: flex;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1003;
    box-shadow: 5px 5px 18px #888888;
    background-color: white;
    position: sticky;
}


#profilepic{
    width: 10%;
    border: 1px solid black;
}

#introductory{
    width: 75%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 165%;
}

#exit{
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 175%;
    -webkit-user-select: none;
}

#exit:hover{
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.facts{
    margin-left: 2.5%;
    opacity: 0.9;
    font-size: 90%;
    line-height: 1.5;
    margin-right: 5%;
}